{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

<style>


</style>


{% block content%}

<main role="main" class="container">

  <div class="starter-template">
    <p><h1>Create New Branch</h1>
    <a href="{% url 'list_branch' %}"><input class="btn btn-primary" type="button" style="float: right;" value="Branch List"></a></p><br><br>
    <form action="" method="post">
    {% csrf_token %}
      <div class="row">
        <div class="col-6">
          {% bootstrap_field form.branch_name %}
          {% bootstrap_field form.repo %}
        </div>
      </div>

    <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>

</main>

{% endblock %}