{% extends "base.html" %}
{% load staticfiles%}

<style>


</style>


{% block content%}

<main role="main" class="container">

  <div class="starter-template">
    <p><h1>Branch List</h1>
    <a href="{% url 'create_branch' %}"><input class="btn btn-primary" type="button" style="float: right;" value="Create Branch"></a></p><br><br>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Branch Name</th>
      <th scope="col">Repo Name</th>
      <th scope="col">Status</th>
      <th scope="col">Created Date</th>
      <th scope="col">Created By</th>
    </tr>
  </thead>
  <tbody>
  {% for branch in branches %}
    <tr>
      <th scope="row">{{ branch.id }}</th>
      <td>{{ branch.branch_name }}</td>
      <td>{{ branch.repo.repo_name }}</td>
      <td>{{ branch.status }}</td>
      <td>{{ branch.created|date:"d-M-Y" }}</td>
      <td>{{ branch.created_by }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  </div>

</main>

{% endblock %}