{% extends "base.html" %}
{% load staticfiles%}

<style>


</style>


{% block content%}

<main role="main" class="container">

  <div class="starter-template">
    <p><h1>Merge Request List</h1>
    <a href="{% url 'create_merge_request' %}"><input class="btn btn-primary" type="button" style="float: right;" value="Create Merge Request"></a></p><br><br>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Repo</th>
      <th scope="col">Source Branch</th>
      <th scope="col">Target Branch</th>
      <th scope="col">Status</th>
      <th scope="col">Created Date</th>
      <th scope="col">Created By</th>
    </tr>
  </thead>
  <tbody>
  {% for merge_request in merge_requests %}
    <tr>
      <th scope="row">{{ merge_request.id }}</th>
      <td>{{ merge_request.title }}</td>
      <td>{{ merge_request.repo }}</td>
      <td>{{ merge_request.source_branch }}</td>
      <td>{{ merge_request.target_branch }}</td>
      <td>{{ merge_request.status }}</td>
      <td>{{ merge_request.created|date:"d-M-Y" }}</td>
      <td>{{ merge_request.created_by }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  </div>

</main>

{% endblock %}