{% extends "base.html" %}
{% load staticfiles%}

<style>

</style>


{% block content%}

<main role="main" class="container">

  <div class="starter-template">
    <p><h1>Merge Request Review</h1>
    <a href="{% url 'list_merge_request' %}"><input class="btn btn-primary" type="button" style="float: right;" value="Merge Request List"></a></p><br><br>

    <p>Merge source: <strong>{{ source }}</strong> of repo: <strong>{{ repo }}</strong> into target: <strong>{{ target }}</strong> </p>
    <p>
      <a href="{% url 'branch_merge' id repo source target %}"><input class="btn btn-primary" type="submit" formaction="URL" style="float: center;" value="Merge"></a>
      <a href="{% url 'branch_decline' id repo source target %}"><input class="btn btn-primary" type="button" style="float: center;" value="Reject"></a>
    </p>

  </div>

</main>

{% endblock %}