{% extends "base.html" %}


<style>


</style>


{% block content%}

<main role="main" class="container">

  <div class="starter-template">
    <p><h1>{{ page }}</h1>
    <a href="{% url 'add_attendance' %}"><input class="btn btn-primary" type="button" style="float: right;" value="Capture Attendance"></a></p><br><br>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Student</th>
      <th scope="col">Student Number</th>
      <th scope="col">Grade</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for q in queryset %}
    <tr>
        <td>{{ q.student.full_name }}</td>
        <td>{{ q.student.std }}</td>
        <td>{{ q.student.class_name }}</td>
        <td>{{ q.day|date:"d-M-Y" }}</td>
        <td>{{ q.status }}</td>
      <td>
          <a href="{% url 'edit_attendance' q.id %}" class="on-default edit-row"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="{% url 'delete_attendance' q.id %}" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
          <a href="{% url 'report_student' q.id %}" class="on-default remove-row"><i class="fa fa-paper-plane" aria-hidden="true" title="report"></i></a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  </div>

</main>

{% endblock %}